<div>
    <h1>DEPARTAMENTOS</h1>
    <table class="table table-border">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
            @for(dept of depts; track dept)
            {
                <tr>
                    <td>{{dept.numero}}</td>
                    <td>{{dept.nombre}}</td>
                    <td>{{dept.localidad}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>