<div>
    <h1>DEPARTAMENTOS</h1>
    <table class="table table-border">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(dept of depts; track dept)
            {
                <tr>
                    <td>{{dept.numero}}</td>
                    <td>{{dept.nombre}}</td>
                    <td>{{dept.localidad}}</td>
                    <td><button><a class="nav-link active" [routerLink]="['/details/'+dept.numero+'/'+dept.nombre+'/'+dept.localidad]">Details</a></button></td>
                    <td><button><a class="nav-link active" [routerLink]="['/edit/'+dept.numero]">Edit</a></button></td>
                </tr>
            }
        </tbody>
    </table>
</div>